:root {
    /* Colors */
    --primary-color: #a8d1ffef; 
    --background-color: #27306c; 
    --text-color: #032041; 
    --outline-color: #1a1b20b7; 
    --darkoutline-color: #001a3d;
    
    /* Common values */
    --container-width: 90%; 
    --max-container-width: 800px; 
    --container-padding-large: 30px;
    --container-padding-small: 5px; 
}

body {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    min-height: 100vh; 
    border-radius: 5px; 
    border: 3px solid var(--darkoutline-color);
    padding: var(--container-padding-large) 0;
}

blockquote {
    margin: 0;
    padding: 0 1em; 
    font-size: 18px;
    font-family: Calibri, sans-serif;
    line-height: 1.5rem;
}

@media only screen and (max-width: 768px) {
    body {
        padding: var(--container-padding-small) 0; 
    }
}

.title, .sub-title, .date, .caption, .sources{
    display: block;
}

.title {
    font-family: 'Times New Roman', serif;
    font-size: 22px;
    color: var(--text-color);
    text-align: center;
}

.sub-title {
    font-family: 'Times New Roman', serif;
    font-size: 17px;
    color: var(--text-color);
    text-align: center;
}

.date, .caption, .sources{
    margin: 0;
    padding: 0;
}

.date {
    font-family: 'Times New Roman', serif;
    font-size: 15px;
    font-style: italic;
    text-align: right;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.sources {
    font-family: Calibri, sans-serif;
    font-size: 14px;
    text-align: left;
    text-indent: -1em; 
    padding-left: 1em;   
}

.outer-container {
    width: var(--container-width);
    max-width: var(--max-container-width);
}

@media only screen and (max-width: 768px) {
    .outer-container {
        padding: var(--container-padding-small) 0; 
    }
}

.container {
    position: relative; /* Must be relative to anchor the popover */
    background-color:  var(--primary-color);
    padding:  var(--container-padding-large);
    border-radius: 15px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    border: 3px solid var(--outline-color); 
}

@media only screen and (max-width: 768px) {
    .container {
        padding: var(--container-padding-small) 0; 
    }
}

.container img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

.center {
    color: var(--text-color);
}

.center p {
    margin: 2px;
    padding: 10px 0;
    text-align: left; 
    font-size: 18px;
    font-family: Calibri, sans-serif;
    text-indent: 2em;
    line-height: 1.5rem;
}

p.no-indent {
    margin: 2px;
    padding: 10px 0;
    text-align: left; 
    font-size: 18px;
    font-family: Calibri, sans-serif;
    line-height: 1.5rem;
    text-indent: 0;
}

p.sources {
    font-family: Calibri, sans-serif;
    font-size: 14px;
    text-align: left;
    text-indent: -2em; 
    padding-left: 2em; 
    padding-right: 2em;
    margin-top: -15px;
    margin-bottom: -15px;
}

blockquote {
    margin-top: -10px; 
    margin-bottom: -10px;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

ul {
    width: fit-content
}

ul li:before {
    content: ""; 
    display: inline-block; 
    width: 37px; 
    height: 20px; 
    background-image: url("Images/Pinkbullet.png"); 
    background-size: contain; 
}

li {
    display:flex;
    flex-direction: row;
    align-items: center;
}

#copyright {
    font-size: 13px;
    color: white;
    cursor: pointer;
    text-align: right;
}

#copyright-popover {
    padding: 1rem;
    border-radius: 12px 0 12px 0; /* Rounded top-left and bottom-right */
    width: 20rem;
    background: white;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
}

#copyright-popover.hidden {
    display: none;
}