:root {
    /* Colors */
    --primary-color: #95cdf3d3; /* primary color */
    --background-color: #323a49fa; /* background color */
    --text-color: #1d1d1d; /* text color */
    --outline-color: #1a1d20b7; /* Outline color*/
    
    /* Common values */
    --container-width: 90%; /* Adjusted width for better responsiveness */
    --max-container-width: 800px; /* Set a maximum width to avoid stretching on larger screens */
    --container-padding: 20px; /* padding */
}

body {
    margin: 0;
    padding: 0;
}

.outer-container {
    /* Center the container horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    min-height: 100vh; /* Use at least the full viewport height */
    border-radius: 5px; /* Rounded corners */
    border: 2px solid var(--outline-color); /* Thin outline */
}

.container {
    /* styles for the container */
    width: var(--container-width);
    max-width: var(--max-container-width);
    background-color:  var(--primary-color);
    padding:  var(--container-padding);
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
    border: 2px solid var(--outline-color); /* Thin outline */
}

.center {
    text-align: center; /* Center text horizontally */
    color: var(--text-color);
}

.container img {
    max-width: 100%; /* Set maximum width for the image to fit container */
    height: auto; /* Ensure image height adjusts proportionally */
    display: block; /* Prevent inline images from affecting vertical alignment */
}